main{
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	padding-inline: min(16px, 2vw);
}
main.light{
	background-color: var(--white);
	color: var(--green-1);
}
main.dark{
	background-color: var(--green-2);
	color: var(--rose);
}



/** Bolas de fondo */



picture>.ball{
	width: min(500px, 40vw);
	aspect-ratio: 1 / .7;
	border-radius: 50%;
	position: absolute;
	filter: blur(150px);
}
main.light picture>.ball{
	opacity: .7;
}
main.dark picture>.ball{
	opacity: .4;
}
.ball:nth-child(1){
	top: 0;
	left: 0;
	transform: translate(-40%, -40%);
	background-color: var(--violet);
	box-shadow: 0 0 150px var(--violet);
}
.ball:nth-child(2){
	top: 0;
	right: 0;
	transform: translate(48%, -48%);
	background-color: var(--rose);
	box-shadow: 0 0 150px var(--rose);
}
.ball:nth-child(3){
	bottom: 0;
	right: 0;
	transform: translate(50%, 50%);
	background-color: var(--blue-1);
	box-shadow: 0 0 150px var(--blue-1);
}
.ball:nth-child(4){
	bottom: 0;
	left: 0;
	transform: translate(-46%, 46%);
	background-color: var(--blue-2);
	box-shadow: 0 0 150px var(--blue-2);
}



/** Header */



header{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-block: 8px;
	gap: 16px;
}
header>*{
	z-index: 1000;
}
header>img{
	width: 256px;
}
header>nav{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: min(16px, 2vw);
}



/** Botones */



.btn{
	border-radius: min(8px, 2vw);
	padding: 8px min(16px, 1vw);
	background: none;
	font-size: calc(1em - calc(2048px - 100vw) / 128);
	transition: background-color .3s linear 0s, color .3s linear 0s, scale .2s linear 0s;
}
.btn:hover{
	background-color: var(--blue-1);
	color: var(--green-1) !important;
}
.btn:active{
	scale: .95;
}
.theme{
	width: min(48px, 10vw);
	min-width: 32px;
	aspect-ratio: 1 / 1;
	padding: 0;
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
}
main.light .btn{
	border: 2px solid var(--violet);
	color: var(--green-1);
}
main.dark .btn{
	border: 2px solid var(--blue-3);
	color: var(--white);
}
main.light .theme{
	background-image: url('/assets/images/light.svg');
}
main.dark .theme{
	background-image: url('/assets/images/dark.svg');
}



/** Elementos */



.separator{
	width: 1px;
	height: 32px;
	background-color: var(--rose);
}
.disabled{
	display: none;
}



/** Cuerpo */



.cuerpo{
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	padding-block: 8px;
}
.cuerpo *{
	z-index: 1000;
}
.cuerpo>aside{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: min(288px, 48%);
	gap: 16px;
	overflow: hidden;
}
.aside-art{
	width: 100%;
	height: 48%;
	border-radius: min(8px, 2vw);
}
.aside-art p.title{
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	font-size: calc(1.4em - calc(2048px - 100vw) / 92);
}
main.light .aside-art{
	border: 2px solid var(--violet);
}
main.dark .aside-art{
	border: 2px solid var(--blue-3);
}
main.light .aside-art p.title{
	color: var(--green-1);
}
main.dark .aside-art p.title{
	color: var(--white);
}
.primary{
	width: 100%;
	height: 48%;
	display: grid;
	place-items: center;
}
.primary :where(.avatar, .avatar>img){
	width: min(208px, 98%);
	aspect-ratio: 1 / 1;
}
.user-info .user-name{
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	font-size: calc(1.4em - calc(2048px - 100vw) / 92);
}
main.light .user-info .user-name{
	color: var(--green-1);
}
main.dark .user-info .user-name{
	color: var(--white);
}
.cuerpo .centro{
	flex-grow: .9;
	display: grid;
	place-items: center;
	overflow: visible;
}
.centro .imago img{
	opacity: 0;
	animation: fadeIn .4s ease-out .2s 1 normal forwards;
}
main.light .cuerpo .imago img:last-child{
	display: none;
}
main.dark .cuerpo .imago img:first-child{
	display: none;
}
@media only screen and (max-width: 600px) {
	.centro .imago img {
		display: none !important;
	}
}
@keyframes fadeIn {
	0% {
		translate: 0 -16px;
	}
	80% {
		opacity: .8;
		translate: 0 0;
	}
	100% {
		opacity: 1;
	}
}