form{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.disabled{
	display: none;
}
.btn{
	padding: 8px 16px;
	border-radius: 8px;
	border: none;
	font-size:  calc(.9em - calc(778px - 100vw) / 128);
	background-color: var(--blue-2);
}
.btn:hover{
	background-color: var(--blue-1);
}
form>fieldset:first-child{
	display: flex;
	gap: 32px;
}
form>fieldset:last-child{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 3fr 1fr;
	gap: 16px;
}
.output{
	grid-column: 1/3;
	border-radius: 16px;
	border: 2px solid var(--violet);
}
.output:first-child::before{
	content: 'IP: ';
	color: var(--green-2);
}
.output:last-child{
	grid-row: 2/5;
}
