<style></style>

<picture>
	<div class="ball"></div>
	<div class="ball"></div>
	<div class="ball"></div>
	<div class="ball"></div>
</picture>

<header>
	<img
		src="/assets/images/branding.svg"
		alt="Domino Online"
	/>
	
	<nav>
		<button class="btn" id="single">Single player</button>
		<button class="btn" id="multiplayer">Multiplayer</button>
		<span class="separator"></span>
		<button class="btn" id="signIn">Sign In</button>
		<button class="btn" id="signUp">Sign Up</button>
		<button class="btn disabled" id="signOut">Sign Out</button>
		<button class="theme btn"></button>
	</nav>
</header>

<section class="cuerpo">
	<aside class="social-info">
		<article class="aside-art">
			<p class="title">Friends</p>
		</article>
		<article class="aside-art">
			<p class="title">Playrooms</p>
		</article>
	</aside>

	<article class="centro">
		<picture class="imago">
			<img src="/assets/images/dominoes-menu.svg" alt="Dominoes">
			<img src="/assets/images/dominoes-menu-dark.svg" alt="Dominoes">
		</picture>
	</article>

	<aside class="user-info">
		<article class="primary">
			<picture class="avatar">
				<img src="/assets/images/default-avatar.svg" alt="Avatar">
			</picture>
			<p class="user-name">Player1</p>
		</article>
		<article class="statistics aside-art">
			<p class="title">Statistics</p>
		</article>
	</aside>
</section>