<style></style>

<picture>
	<div class="ball"></div>
	<div class="ball"></div>
	<div class="ball"></div>
	<div class="ball"></div>
</picture>

<header>
	<img
		src="/assets/images/branding.svg"
		alt="Domino Online"
	/>
	
	<nav>
		<button class="btn" id="single">Single player</button>
		<button class="btn" id="multiplayer">Multiplayer</button>
		<span class="separator"></span>
		<button class="btn" id="signIn">Sign In</button>
		<button class="btn" id="signUp">Sign Up</button>
		<button class="theme btn"></button>
	</nav>
</header>

<section class="cuerpo">
	<aside>
		<article class="aside-art">
			<h1>Friends</h1>
		</article>
		<article class="aside-art">
			<h1>Playrooms</h1>
		</article>
	</aside>

	<article class="centro">
		<picture class="imago">
			<img src="/assets/images/dominoes-menu.svg" alt="Dominoes">
			<img src="/assets/images/dominoes-menu-dark.svg" alt="Dominoes">
		</picture>
	</article>

	<aside></aside>
</section>